@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About My Site";
}

<button type="button" onclick="alert('Welcome!')">Click Me!</button>


<p>
    This web page was built using ASP.NET Web Pages. For more information, visit the 
    <a href="http://www.asp.net">ASP.NET homepage</a>.
</p>