@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "You Are Now Here";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    
</script>

<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("img").hide({});

        });

        $(document).ready(function () {
            var div1 = $("#div1")
           // div1.animate().hide().fadeIn(2000);
            div1.animate({ height: '300px', opacity: '0.4' }, "slow");
            div1.animate({ width: '300px', opacity: '0.8' }, "slow");
            div1.animate({ height: '100px', opacity: '0.4' }, "slow");
            div1.animate({ width: '100px', opacity: '0.8' }, "slow");
            div1.animate({ height: '700px', width: '525px' }, "slow");
           // div1.animate();
                

            var div2 = $("#div2")//.hide().fadeIn(3000);
            div2.animate({ left: '100px' }, "slow");
            div2.animate({ fontSize: '3em' }, "slow");
            div2.animate({ fontSize: '1em' }, "slow");


        });
   
    $("#show").click(function () {
        $("img").show();
    });
 

    $("#fade").click(function () {
        $("img").fadeToggle();
    });

    $("#toggle").click(function () {
        $("img").slideToggle("slow");
    });

    $("#link").click(function () {
        $("img").slideUp(2000).slideDown(2000);
    });

    $("enlarge").click(function () {
        $("h1").animate({ fontSize:"10em"  });
    
    
        $("h1").animate({ fontSize: "3em" });
    });
    

    $("#animate").click(function () {
        $(".div").toggle(1000).toggle(2000);

    });
              
        });

 </script>


<script >

    
    function changeImage() {
        element = document.getElementById('myimage')
        if (element.src.match("org")) {
            element.src = "http://www.military-today.com/aircraft/f22_raptor_l8.jpg";
        }
        else {
            element.src = "http://cdn.globalaircraft.org/media/img/planes/lowres/f-23-6.jpg";
        }
    }
</script>

<h5 id="enlarge"   style="float:right; text-transform:capitalize" >Click on meeee</h5>
    <div id="div1" class="appear" style="background:#b6ff00;height:700px;width:525px;"> 
        <img id="myimage" onclick="changeImage()"
            src="http://cdn.globalaircraft.org/media/img/planes/lowres/f-23-6.jpg" width="600" height="400" style="padding:5px 5px 5px 5px">
        <button id="hide" style="float:right">Hide</button>
<button id="show" style="float:right">Show</button>
<button id="fade" style="float:right">Fade In/Out</button>
<button id="animate" style="float:right">Animate</button>
<button id="link" style="float:right">Click Me</button>
<button id="toggle" style="float:right">Toggle</button>
<button style="float:right">Enlarge</button>
    </div>




<p style="animation-direction:alternate-reverse">
    Look at the cool images of fighter jets and Master Chief!

 <br />
    <br />
   
</p>

<div>
    <div id="div2" class="appear" style="animation:ease-in; width:450px; height:338px; background-color:aqua;"  >
        <span id="demo"> What kind of cool planes would you like to see today?</span>

    </div>

</div>
   